<h1>All My Recipes</h1>

<a href="/">Home</a>

<a href="/recipes/new" class="btn btn-success pull-right">New Recipe</a>

<ul>
  <% recipes.forEach(function(recipe){%>
     <li><%=recipe.name%> by <span class="recipe-user"><%=recipe.totalCals%>  </span></li>

  <%})%>
  </ul>


<a href="/">&larr; Home</a>

<a href="/recipes">&larr; Back</a>