<h1>New Recipe</h1>

<form action="/recipes" method="POST" role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name of Recipe" name="name">
  </div>
  <div class="form-group">
    <label for="name">Food Item</label>
    <input type="text" class="form-control" id="food" placeholder="Add an item to your recipe" name="amount">
  </div>
  <div>
  	<p>This is where API will give calorie amount</p>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/recipes">&larr; Back</a>